# Python
.venv/
venv/
backend-venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Django
db.sqlite3
staticfiles/
backend/media/

# Next.js
.next/
tsconfig.tsbuildinfo
next-env.d.ts

# Frontend
node_modules/
dist/
build/

# Backend lives in a separate repo
backend/

# macOS
.DS_Store

# Editors
.vscode/
.idea/
.vercel
.env*
